<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yatzy game NJ</title>
    <link rel="icon" href="img/icon.svg" >
    <link rel="stylesheet" type="text/css" href="css/dice.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="app">
    <section>
            <div class="dice-container">
                <div>
                    <button  v-on:click="turnthedice" v-if="this.throwdice < 3">Roll the dice</button>
                    <button  v-on:click="checkdices" v-if="this.roundsofGame < 12 ||this.throwdice < 3">Points?   </button>
                    <br>
                    <dices
                            v-for="dice in dices"
                            v-bind:key="dice.id"
                            v-bind:value="dice.value"
                            v-bind:is-selected="dice.isSelected"
                            v-bind:class="{dice_border:dice.isSelected}"
                            v-on:select="dice.isSelected=!dice.isSelected"
                    ></dices>

                    <p>Throw: {{throwdice}} of 3 times</p>
                    <p>Round {{roundsofGame}} </p>

                    <button  v-on:click="newGame" >New Game</button>
                </div>
            </div>

            <div class="scoreboard">
                <div>
                    <p>Point so far: {{totalpoint}} points</p>
                </div>
                <div class="recordkeeper">
                    <ul>
                        <li v-for="pointsRound in roundsPoint">
                            {{pointsRound.value}}
                        </li>
                    </ul>


                </div>
            </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/game.js"></script>
</body>
</html>
